**Boston house price prediction**

In [ ]:
#Import dependecies
import pandas as pd
import numpy as np
from sklearn import linear_model  
from sklearn.model_selection import train_test_split

In [ ]:
#Load the data
from sklearn.datasets import load_boston
boston = load_boston()
print(boston)

In [ ]:
#Data set to data frame
df_x = pd.DataFrame(boston.data, columns = boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [ ]:
df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [ ]:
#Linear regression model
reg = linear_model.LinearRegression()

In [ ]:
#Split the data
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state = 42)

In [ ]:
#Train the model
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Coeficients
print(reg.coef_)

[[-1.28749718e-01  3.78232228e-02  5.82109233e-02  3.23866812e+00
  -1.61698120e+01  3.90205116e+00 -1.28507825e-02 -1.42222430e+00
   2.34853915e-01 -8.21331947e-03 -9.28722459e-01  1.17695921e-02
  -5.47566338e-01]]

In [ ]:
#Predictions
y_pred = reg.predict(x_test)
print(y_pred)

In [ ]:
#Actual values
print(y_test)

In [ ]:
#Accuracy 
print(np.mean((y_pred - y_test)**2))

0    20.724023
dtype: float64

In [ ]:
#Accuracy from sklearn
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

20.724023437339717